asgiref==3.7.2
Django==4.2.7
django-ckeditor==6.6.1
django-cors-headers==4.3.1
django-filter==23.3
django-jazzmin==2.6.0
django-js-asset==2.1.0
django-mptt==0.15.0
django-parler==2.3
django-parler-rest==2.2
djangorestframework==3.14.0
Markdown==3.5.1
Pillow==10.1.0
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
